body {
    font-family: "Open Sans", sans-serif;
    background: #f5f8f9;
    font-size: 14px;
}

#content {
    background: #fff;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    border-radius: 0;
}

.lax {
    color: #F89572;
}

.btn-lax {
    background: #F89572;
    box-shadow: 0 3px 7px #FFE8E5;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    font-weight: bold;
}

.btn-lax:hover, .btn-lax:focus {
    background: #F89572;
    box-shadow: 0 2px 5px #dbc4c1;
    color: #fff;
}

h4 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #004650;
}

#footer {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 25px;
}

#footer a {
    color: #004650;
}