* {
    -webkit-transition:all .25s ease-in;
    -o-transition:all .25s ease-in;
    transition:all .25s ease-in;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #f5f8f9;
    font-size: 14px;
}

#content {
    background: #fff;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    margin-top: 50px;
}

.btn {
    border-radius: 0;
}

.btn-lax {
    background: #F89572;
    box-shadow: 0 3px 7px #FFE8E5;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    font-weight: bold;
}

.btn-lax:hover, .btn-lax:focus {
    background: #F89572;
    box-shadow: 0 4px 15px #dbc4c1;
    color: #fff;
}