<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="layout :: layout(~{::title},~{::script},~{::#main})">
<head>
    <title>Manage</title>
    <script type="text/javascript"></script>
</head>
<body>

<div id="main">

    <h3>Welcome!</h3>
    <p>
        Logged in as Tink user ID <span th:text="${user.id}"></span>
    </p>

    <p>
        Get started by adding a <em>credential</em>, i.e. a bank, credit card or other financial institution connection.
    </p>

    <div th:if="${param.saved_tx}"
         th:text="${'Saved ' + param.saved_tx + ' transactions without identifying information. Thank you!'}"
         class="alert alert-success"></div>

    <div th:if="${param.deleted}"
         th:text="${'Deleted credential with ID ' + param.deleted}"
         class="alert alert-success"></div>

    <div class="text-center py-3">
        <a class="btn btn-lg btn-lax" th:href="@{/manage/add}">Add Credential</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Bank</th>
            <th>Status</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="credential : ${credentials}">
            <td>
                <span th:text="${credential.providerName}"></span><br />
                <small class="text-muted" th:text="${credential.id}"></small>
            </td>
            <td th:text="${credential.status}"></td>
            <td th:text="${credential.statusPayload}"></td>
            <td>
                <a class="btn btn-lax btn-sm" th:href="@{/manage/refresh/{id}(id=${credential.id})}">Refresh</a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm"
                   onclick="return confirm('Are you sure? This will stop new refreshes, but will not delete already stored transactions.');"
                   th:href="@{/manage/delete/{id}(id=${credential.id})}">X</a>
            </td>
        </tr>
        <tr th:if="${#lists.size(credentials) == 0}">
            <td colspan="4" class="py-5 text-center">
                <h5 class="text-muted">No connections. Add one!</h5>
            </td>
        </tr>
        </tbody>
    </table>

    <hr />

    <div class="text-center py-2">
        <form th:action="@{/logout}" method="POST">
            <button type="submit" class="btn btn-lax btn-sm">Log out</button>
        </form>
    </div>

</div>

</body>
</html>
