<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="layout :: layout(~{::title},~{::script},~{::#main})">
<head>
    <title>Add Credential</title>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>

<div id="main">

    <h1 th:text="${providers.displayName}"></h1>

    <p th:text="${providers.displayDescription}"></p>

    <p th:text="${providers.passwordHelpText}"></p>

    <form th:action="@{/manage/add/{provider}(provider=${providers.name})}" method="post">

        <div class="row py-1" th:each="field : ${providers.fields}">

            <label class="col-form-label col-2" th:for="${field.name}" th:text="${field.description}"></label>
            <input class="col-4 form-control"
                   th:name="${field.name}"
                   th:placeholder="${field.hint}"
                   th:pattern="${field.pattern}"
                   th:type="${field.displayType}"
                   th:minlength="${field.minLength}"
                   th:maxlength="${field.maxLength}"
                   th:required="${!field.optional}"
                   th:id="${field.name}">

            <div class="col-6 text-muted">
                <span th:text="${field.helpText}"></span>
                <small th:text="${field.patternError}"></small>
            </div>

        </div>

        <hr/>

        <button class="btn btn-lax" type="submit">Add Credential</button>

    </form>

</div>

</body>
</html>