<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="layout :: layout(~{::title},~{::script},~{::#main})">
<head>
    <title>Add Credential</title>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>

<div id="main">

    <h1 th:text="${providers.displayName}"></h1>

    <p th:text="${providers.displayDescription}"></p>

    <form th:action="@{/manage/add/{provider}(provider=${providers.name})}" method="post">

        <div th:each="field : ${providers.fields}">

            <label th:for="${field.name}" th:text="${field.description}"></label>
            <input th:name="${field.name}"
                   th:placeholder="${field.hint}"
                   th:pattern="${field.pattern}"
                   th:type="${field.displayType}"
                   th:minlength="${field.minLength}"
                   th:maxlength="${field.maxLength}"
                   th:id="${field.name}">

        </div>

        <hr/>

        <button type="submit">Add Credential</button>

    </form>

</div>

</body>
</html>