<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="layout :: layout(~{::title},~{::script},~{::#main})">
<head>
    <title>Add Credential</title>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>

<div id="main">

    <h1>Add Credential</h1>

    <div class="text-center">
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>

        <p th:if="${credential.status.CREATED}">
            Waiting for Tink to start setup...
        </p>

        <p>
            <strong th:text="${credential.status}"></strong>
        </p>

        <p th:text="${credential.statusPayload}"></p>

        <div class="text-center py-3">
            <div id="qrcode"></div>
        </div>

        <a th:href="@{/manage}"
           th:if="${credential.status.AUTHENTICATION_ERROR}"
           class="btn btn-lax">Back to Manage</a>

    </div>

</div>

<script type="text/javascript">
    setTimeout(function () {
        window.location.reload();
    }, 3000);
</script>

<script type="text/javascript" src="/js/qrcode.min.js"></script>

<script th:if="${credential.supplementalInformation != null && credential.status == credential.status.AWAITING_MOBILE_BANKID_AUTHENTICATION}"
        type="text/javascript"
        th:inline="javascript">
    var qr = /*[[${credential.supplementalInformation}]]*/ "";
    new QRCode(document.getElementById("qrcode"), "bankid:///?autostarttoken=" + qr);
</script>

</body>
</html>