<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="layout :: layout(~{::title},~{::script},~{::#main})">
<head>
    <title>Add Credentials</title>
    <script type="text/javascript"></script>
</head>
<body>

<div id="main">

    <h2>Add Credential</h2>

    <h4 class="text-success">Recommended Providers</h4>

    <p>
        These providers grant access for 60-90 days, or sometimes longer, which means that transactions can be
        re-fetched daily. One of the biggest challenges in the deduplication process is to correlate debit/credit card
        transactions, as these sometimes change both transaction description <em>and</em> date. Picking any of these
        providers is heavily preferred as there is a much better chance of capturing the pending transactions.</p>

    <ul class="list-unstyled">
        <li class="py-1" th:each="provider : ${providers}" th:if="${provider.isAuto()}">
            <img src="" alt="" th:src="${provider.images.icon}" width="35"/>
            <a th:href="@{/manage/add/{provider}(provider=${provider.name})}"
               th:text="${provider.displayName}"></a>
            <span class="text-muted" th:text="${provider.displayDescription}"></span>
        </li>
    </ul>

</div>

</body>
</html>