<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="layout :: layout(~{::title},~{::script},~{::#main})">
<head>
    <title>Add Credential</title>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>

<div id="main">

    <h1>Information Required</h1>

    <p>In order to set up the connection, Tink needs more information. Please fill in the following:</p>

    <form th:action="@{/manage/supplemental/{id}(id=${id})}" method="post">

        <div class="row" th:each="field : ${supplemental}">

            <label class="col-form-label col-2"
                   th:for="${field.name}"
                   th:text="${field.description}"></label>

            <input class="col-4 form-control"
                   th:name="${field.name}"
                   th:placeholder="${field.hint}"
                   th:pattern="${field.pattern}"
                   th:type="${field.displayType}"
                   th:value="${field.value}"
                   th:minlength="${field.minLength}"
                   th:maxlength="${field.maxLength}"
                   th:required="${!field.optional}"
                   th:id="${field.name}">

            <div class="col-6 text-muted">
                <span th:text="${field.helpText}"></span>
                <small th:text="${field.patternError}"></small>
            </div>

        </div>

        <hr/>

        <button class="btn btn-lax" type="submit">Submit</button>

    </form>

</div>

</body>
</html>